@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--This page will display the title The Joel Hilton Film Collection as well as a picture of Joel Hilton-->
<h1>@ViewBag.Title</h1>
<img src="~/JoelHilton1.jpg" />